[data-start] {
    /* margin: calc(50vh - 60px) 0 0 calc(50vw - 93px); */
}

[data-start],
[data-stop] {
    height: 25px;
    /* font-weight: 700; */
    text-transform: uppercase;
    transition: transform 250ms,
                box-shadow 250ms;
}

[data-start]:hover:enabled, 
[data-start]:focus:enabled, 
[data-stop]:hover:enabled, 
[data-stop]:focus:enabled {
    transform: scale(1.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

#datetime-picker {
    margin-left: 10px;
    margin-bottom: 20px;
    height: 25px;
}

.timer {
    display: flex;
    gap: 10px;
}

.field {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 55px;
}

.field .value {
    font-size: 32;
    font-weight: 500;
}

.field .label {
    font-size: 12;
    font-weight: bold;
    text-transform: uppercase;    
}


.form {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.form input {
    display: block;
}

.form button {
    height: 21px;
    transition: transform 250ms,
                box-shadow 250ms;
}

.form button:hover:enabled, 
.form button:focus:enabled {
    transform: scale(1.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}